@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@keyframes affichage{
    0%{transform: scale(0, 0);}
    100%{transform: scale(1, 1);}
}
*{
    box-sizing: border-box;
    margin : 0;
}
body{
    min-width: 500px;
    width: 100vw;
    height: 100vh;
    font-family:'Courier New', Courier, monospace;
    border: 0.8vw solid rgb(99, 152, 135);
}
h1{
    width: 400px;
    padding: 10px 15px;
    text-align: center;
    background-color: rgb(99, 152, 135);
    color:rgb(8, 71, 50);
    
    margin: 20px auto;
}

main{
    animation: affichage 0.5s;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
    margin: auto;
    /*background-color: rgb(99, 152, 135);*/
    background: linear-gradient(rgb(203, 224, 217), rgb(99, 152, 135));
    box-shadow: 2px 2px  3px #2f2f2f;
    border-radius: 50px;
    padding-top: 20px;
}
.ecran{
    height: 150px;
    background-color: #7da77d;
    width: 90%;
    border-radius: 20px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px inset rgb(99, 152, 135);
}
#calcul, #resultat{
    height: 100px;
    background-color: rgba(0, 0, 0, 0);
    width: 48%;
    border: none;
}
#resultat{
    font-family: 'Staatliches', cursive;
    display: inline-block;
    font-size: 5em;
    border-left: 1px solid rgb(99, 152, 135);
    text-align: center;
    overflow: visible;
    margin-left: 10px;
    text-shadow: 1px 1px 2px;
}
#stock, #saisie{
    font-family: 'Staatliches', cursive;
    font-size: 3em;
    height: 50px;
    width: 90%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    text-align: center;
    margin-left: 10px;
    text-shadow: 1px 1px 2px;
}
#stock{
    border-bottom: 1px solid rgb(99, 152, 135);
}

section.touches{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.touches input{
    background-color: rgb(219, 255, 243);
    font-family: 'Staatliches', cursive;
    font-size: 2em;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 3px black;
}
.touches input:hover{
    background-color: aqua;
}
.touches input:active{
    background-color: aquamarine;
}
#valeurs{
    display: grid;
    width: 250px;
    height: 300px;
    grid-gap: 5px;
    grid-template-areas: 
    "e7 e8 e9"
    "e4 e5 e6"
    "e1 e2 e3"
    "e0 e0 eP";
}
aside{
    display: grid;
    width: 150px;
    grid-gap: 5px;
    grid-template-areas: 
    "eDel eC"
    "eSlash eMulti"
    "eMoins ePlus"
    "eEgale ePlus";
}
.element0{grid-area: e0;}
.element1{grid-area: e1;}
.element2{grid-area: e2;}
.element3{grid-area: e3;}
.element4{grid-area: e4;}
.element5{grid-area: e5;}
.element6{grid-area: e6;}
.element7{grid-area: e7;}
.element8{grid-area: e8;}
.element9{grid-area: e9;}
.elementP{grid-area: eP;}
.elementDel{grid-area: eDel;}
.elementC{grid-area: eC;}
.elementSlash{grid-area: eSlash;}
.elementMulti{grid-area: eMulti;}
.elementMoins{grid-area: eMoins;}
.elementPlus{grid-area: ePlus;}
.elementEgale{grid-area: eEgale;}

.touches .wrong{
    animation: wrong 0.5s reverse;
}

@keyframes wrong {
    100% {background-color: rgb(225, 173, 173);}
}

